@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  transition: background .3s;
}

:root,
:root.default {
  --primary: #FFDCAB;
  --secondary: #E248C0;
  --tertiary: #70E248;
  --quaternary: #E28748;
}

:root.wero {
  --primary: linear-gradient(#BBCFFF, #E0C5FF, #FDD5FF);
  --secondary: #F9F9F9;
  --tertiary: linear-gradient(to right, #F9F9F9, #FFF2CE);
  --quaternary: #4A86E8;
}

* {
  font-family: 'Bebas Neue', cursive;
}

input {
  font-family: 'Bebas Neue', cursive;
}

input::placeholder {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

button {
  font-family: 'Bebas Neue', cursive;
}