@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --primary: #FFDCAB;
}

html,
body {
  font-family: 'Bebas Neue', cursive;
  background-color: var(--primary);
}