@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --primary: #FFDCAB;
  --secondary: #E248C0;
  --tertiary: #70E248;
  --quaternary: #E28748;
}

* {
  font-family: 'Bebas Neue', cursive;
}

input {
  font-family: 'Bebas Neue', cursive;
}

input::placeholder {
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

button {
  font-family: 'Bebas Neue', cursive;
}